html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
}

#foundToast,
#foundTreeToast,
#foundedToast,
#errorToast {
    position: fixed;
    top: -16px;
    left: 0;
    width: calc(100vw - 32px);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #007abe;
    transform: translateY(-100%);
    transition: transform ease-in-out 0.5s;
    margin: 16px;
    border-radius: 16px;
    font-size: 20px;
    padding: 16px;
}

#foundToast.visible,
#foundedToast.visible,
#foundTreeToast.visible,
#errorToast.visible {
    transform: translateY(0%);
    top: 0;
}

#foundedToast,
#foundTreeToast {
    background-color: #0fa551;
}

#foundTreeToast {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    height: 125px;
}
#errorToast {
    background-color: #d93e3e;
}

#foundToast span {
    font-weight: bold;
    margin-left: 4px;
}
#bag {
    position: fixed;
    bottom: 16px;
    left: 16px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}
#bag img {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    width: 40px;
    margin-right: 4px;
}
#bag span {
    margin-left: 4px;
    font-weight: bold;
}
#reset-bag {
    border:none;
    background: transparent;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 30px;
    cursor: pointer;
   z-index:99

}
#reset-bag img{
     -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}